p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Bitter', serif;
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.053rem; /* 48.8px */}

h2 {font-size: 2.442rem; /* 39.04px */}

h3 {font-size: 1.954rem; /* 31.2px */}

h4 {font-size: 1.563rem; /* 24.96px */}

h5 {font-size: 1.250rem; /* 20px */}

small {font-size: 0.800rem; /* 12.8px */}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-oklch: 1 0 0;
    --foreground-oklch: 240 10 3.9;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary-oklch: 0.53 0.09 140;
    --primary-foreground-oklch: 0.88 0.02 254;
    --secondary-oklch: 0.76 0.02 176.34;
    --secondary-foreground-oklch: 0.35 0.02 176.34;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240% 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background-oklch: 0.10 0.02 263.4;
    --foreground-oklch: .8 .03 206;
    --illuminate-foreground-lch: 180 100 75.1;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary-oklch: 0.76 0.11 139.82;
    --primary-foreground-oklch: 0.37 0.05 254.3;
    --secondary-oklch: 0.26 0.02 176.34;
    --secondary-foreground-oklch: 0.85 0.02 176.34;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0.75 0.06 234.68;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    /* hsl(240 4% 16%) */
    --input: 240 3.7% 15.9%;
    /* hsl(142 72% 29%) */
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: oklch(0.28 0.03 271.18) oklch(0.21 0.02 276.22);
}

.scrollbar-style::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-style::-webkit-scrollbar-track {
  background: oklch(0.21 0.02 276.22);
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: oklch(0.48 0.07 211.18);
  border-radius: 0.75rem;
}