---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import profileImage from "../assets/chad_profile.jpg";
import ProfileSection from "../components/sections/ProfileSection.astro";
import HeroSection from "../components/sections/HeroSection.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="container mx-auto px-4">
    <!-- Mobile Layout -->
    <div class="flex flex-col items-center space-y-8 md:hidden">
      <HeroSection />
      <ProfileSection 
        profileImage={profileImage}
        class="w-full max-w-sm"
      />
      <AboutMe className="w-full" />
    </div>

    <!-- Desktop Layout -->
    <div class="hidden md:grid md:grid-cols-[2fr_1fr] md:gap-x-12 md:gap-y-8">
      <HeroSection class="col-span-2" />
      <AboutMe />
      <ProfileSection 
        profileImage={profileImage}
        class="row-span-2"
      />
    </div>
  </div>
</BaseLayout>
