---
const today = new Date();
---

<footer class="bg-background-900 text-text-100 footer footer-center block p-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Chad Gauthier
  </div>
</footer>
