---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-800"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-2 text-yellow-200 text-lg hover:text-yellow-100" id="home" href="/">Home</a></li>
    <li><a class="py-2 text-yellow-200 text-lg hover:text-yellow-100" id="blog" href="/blog/">Blog</a></li>
    <li>
        <a
            class="py-2 text-yellow-200 text-lg hover:text-yellow-100"
            href="mailto:chadgauth@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
